{% extends 'base.html' %}


{% block body %}

<head>
    <style>
        
        thead th {
    border: .5px solid rgba(255, 255, 255, .3); ;
    
    
 }
 .table-row{
cursor:pointer;
}
.table-row:hover{
    background-color: rgb(216, 155, 51);
}
   
        
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row d-flex " style="background-color: rgb(103, 175, 220);color:#fff;width:100%;margin: auto;">
                    <div class="col "> Group Summary</div>
                </div>
                
                <div class="table-responsive">
                    <table  class="table  " style="background-color: rgba(33,57,77,255);color:#fff;">
                        <thead>
                        <tr>
                          <th rowspan="3" colspan="2"   class="align-middle text-white "> <h6 class="d-flex align-items-sm-start par p-1 py-1" style="margin-left: 20px;">Particular</h6></th>
                          
                          <th colspan="2" class="text-center text-white"><h5><i>Bank Accounts</i></h5>
                            <h5>ABC PVT.LTD</h5>For 1-Apr-2022</th>
                        </tr>
                        <tr>
                          <th colspan="2" class="text-center text-white">Closing Balance</th>
                        </tr>
                        <tr>
                          <th class="text-center text-white">Debit</th>
                          <th class="text-center text-white">Credit</th>
                        </tr>
                    </thead>

                    <tbody >
                        
                       
                        <tr class="table-row">
                            <td colspan="2">Cash</span></td>
                           
                            <td style="text-align: end;">20,900.00</td>
                            <td></td>
                        </tr>

                        <tr class="table-row">
                            <th colspan="2" ><h6 class="d-flex align-items-sm-start par p-1 py-1 foot" style="margin-left: 20px;">Grand Total</h6></th>
                            
                            <th   style="text-align: end;">20,900.00</th>
                            <th  style="text-align: end;"></th>
                            
                        </tr>
                      
                    
                    </tbody>




                    </table>


                  </div>

              
                  


               



            </div>
        </div>
    </div>

{% endblock %}