
    {% extends 'base.html' %}
    {% block body %}
        {% load static %}
        <style>
            *{
                padding: 0;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                box-sizing: border-box;
            }
          
            .form1{
                background-color:rgba(0,0,0,.4);
                box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.662);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: none;
                width:80%;
                position: absolute;
            }
            form{
            
                width: 100%;
                /* display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; */
                height:auto;
                background-color: rgba(0, 0, 0, 0.4);
            }
    
            input,textarea{
               padding: 10px 20px;
                width: 100%;
                border: none;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.4);
               
            }
            select{
                padding: 10px 20px;
                width: 100%;
                border: none;
                background-color: rgba(255, 255, 255, 0.4);

            }
            option{
                color: white;
            }
            .top input{
                padding: 10px 20px;
                width: 60%;
                border: none;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.4);
    
            }
           
    
            form div{
                width: 100%;
            }
            button{
                padding: 6px 30px;
                border-radius: 10px;
                border: 4px solid rgb(0, 0, 0,0);
                color: white;
                background-color: rgb(103, 175, 220);
            }
            button:hover{
                
                border: 4px solid rgb(103, 175, 220);
                color: rgb(103, 175, 220);
                background-color: white;
            }
            .top{
                display: flex; 
            }
            .top .left1{
                width: 100%;
               
                border-bottom: 1px solid rgba(128, 128, 128, 0.6);
                display: flex;
                flex-direction:row;
                
                padding: 30px;
    
            }

            .left1 div{
                width: 50%;
                
                padding: 3px 0;
            }
            
            .bottom{
                display: flex;
            }
            .bottom .left2{
                width: 33.33%;
                padding: 30px;
                border-right: 1px solid rgba(128, 128, 128, 0.6);
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
            .bottom .right2{
                width: 33.333%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid rgba(128, 128, 128, 0.6);
                
                
            }
            .bottom .center{
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                
            }
            .left2 div,.right2 div,.center div{
                width: 100%;
                padding: 3px 0;
            }
            .bottom .left2,.bottom .right2,.bottom .center{
                border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    
            }
    p{
        font-size: 13px;
    }
    .enter{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
        
    }
    .close:hover{
        color: rgb(0, 0, 0);
    }
    .inv {
    display: none;
}
        </style>
        <div class="container">
            <div class="form1">
                <a href="javascript:history.go(-1);" class="close">+</a>
                <h6 style="background-color:rgb(103, 175, 220) ; color:rgb(0, 0, 0); text-align: center; padding: 9px 0; width:100%;">Bank Details for : {{ a.ledger_name }}</h6>
                
            
                <form action="/add_bank_details/{{ a.id }}" method="post">
   {% csrf_token %}
    <div class="top">
        <div class="left1">
            <div><p>Transaction Type</p></div>
            <select name="ttype" id="dynamic_select">
                <option value="" >----Select----</option>
                <option value="cheque" >Cheque</option>
                <option value="efund" >e-Fund Transfer</option>
                <option value="others" >Others</option>
                 
            </select>
    
</div>
</div><br>
<center>
<div id="cheque" class="inv">
           
     
     
    <div><p>Cross Using :</p><input type="text" style="width: 400px; padding:10px;" name="cross" placeholder="A/c Payee"></div>
   
    </div>

    <div id="efund" class="inv">
     
        <div><p>A/c No . </p><input type="text" style="width: 400px; " name="acno"  ></div>
        <div><p>IFSC </p><input type="text" style="width: 400px; " name="ifsc" ></div>
        <div><p>Bank Name </p><input type="text" style="width: 400px; " name="bankname"  ></div>
    </div></center>
    <hr>



<div ><center>
    <table border="1">
        <tr>
          <th> Transaction Type</th>
          <th>details</th>
</tr>
        {% for b in bnn %}
        <tr>
          <td >{{ b.transaction_type }}</td>
          <td>{{ b.cross_using }}<br>
          {{ b.acno }}<br>
         {{ b.ifscode }}<br>
          {{ b.bankname }}</td>
          
        </tr>
        {% endfor %}
  </table></center>
</div>    
<div class="enter"><button>ADD</button><br>
    </div>  




    </form>
  

</div>
</div>



<script>
    document
  .getElementById('dynamic_select')
  .addEventListener('change', function () {
    'use strict';
    var vis = document.querySelector('.vis'),   
      target = document.getElementById(this.value);
    if (vis !== null) {
      vis.className = 'inv';
    }
    if (target !== null ) {
      target.className = 'vis';
    }
});
    </script>
{% endblock %}


<!--<style>
    .inv {
    display: none;
}
</style>
        <select id="target">
            <option value="">Select...</option>
            <option value="content_1">Option 1</option>
            <option value="content_2">Option 2</option>
            <option value="content_3">Option 3</option>
        <select>

        <div id="content_1" class="inv">Content 1</div>
        <div id="content_2" class="inv">Content 2</div>
        <div id="content_3" class="inv">Content 3</div>
  
<script>
    document
  .getElementById('target')
  .addEventListener('change', function () {
    'use strict';
    var vis = document.querySelector('.vis'),   
      target = document.getElementById(this.value);
    if (vis !== null) {
      vis.className = 'inv';
    }
    if (target !== null ) {
      target.className = 'vis';
    }
});
    </script>-->

